// Place all the styles related to the CustomRuns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom-run-form {
  margin: 0 auto;
  text-align: right;
}

tr > td {
  padding: 0 1em 1em 1em;
}

